.tab1 {
    height: 5vw;
    top: 31vw;
    position: absolute;
    width: 20%;
    z-index: 2;
    right: 34vw;
    background-color: #29dcd5;
    font-size: 1.9vw;
    line-height: 5vw;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #ffffff; 
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}
