.tab2 {
    background: #fff;
    height: 5vw;
    top: 31vw;
    position: absolute;
    width: 20%;
    z-index: 2;
    right: 13vw;
    background-color: #00727b;
    font-size: 1.9vw;
    line-height: 5vw;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #ffffff; 
}